* {
  margin: 0;
  padding: 0;
}
#case {
  width: 100%;
  height: 3000px;
}
.case_1 {
  width: 100%;
  height: 300px;
}
.case_2 {
  width: 1200px;
  height: 85px;
  position: relative;
}
.case_2 p {
  width: 755px;
  height: 50px;
  text-decoration: none;
  position: absolute;
  left: 251px;
  top: 9px;
  font-size: 16px;
  color: #808080;
  line-height: 58px;
  padding-top: 9px;
}
.case_2 p b {
  font-style: normal;
  font-size: 16px;
  color: #808080;
  font-weight: normal;
}
.case_2 p a {
  text-decoration: none;
  color: #808080;
}

.case_2 span {
  position: absolute;
  right: -244px;
  top: 20px;
}
.case_2 span input {
  width: 370px;
  height: 45px;

  position: absolute;
  right: 71px;
  top: 1px;
  background: #e2e2e3;
  font-size: 14px;
  color: #a0a0a1;
  padding: 0 30px;
}
.case_3 {
  width: 1200px;
  height: 2914px;
  margin: 0 auto;
  color: #666;
}

.case_4 {
  width: 1200px;
  height: 46px;
  margin: 0 auto;
  font-size: 14px;
  color: #666;
  line-height: 47px;
  border-bottom: 1px dashed #dcdcdc;
}
.case_4 b {
  border-left: 10px solid #2a2927;
  font-weight: normal;
  padding-left: 8px;
}
.case_4 a {
  text-decoration: none;
  color: #666;
}
.case_5 {
  width: 1200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.case_6 {
  width: 240px;
  height: 998px;
}

.case_8 {
  width: 240px;
  height: 808px;
}
.case_9 {
  background: #ff9000;
  height: 80px;
}
.case_9 h3 {
  height: 75px;
  font-size: 24px;
  font-weight: normal;
  line-height: 75px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.case_10 {
  width: 240px;
  height: 362px;
}
.case_10 > div {
  width: 240px;
  height: 50px;
}
.case_10 > div h3 {
  background: url(../1/p14-icon2.png) no-repeat right center #333;
  height: 50px;
  line-height: 50px;
  margin-top: 2px;
}
.case_10 > div h3 a {
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-right: 40px;
  margin-left: 38px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}
.case_12 {
  width: 240px;
  height: 256px;
  background: #ff9000;
  text-align: center;
  color: #fff;
}

.case_12 p {
  padding-top: 15px;
  height: 27px;
  text-align: center;
  font: 14px/22px "Microsoft YaHei";
}
.case_12 p img {
  margin-right: 10px;
}
.case_12 span {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial;
  padding-bottom: 20px;
  padding-top: 10px;
}
.case_7 {
  width: 930px;
  height: 2757px;
}
.case_7 > div {
  height: 163px;
  border: 1px solid #dedede;
  width: 100%;
  padding: 22px 0 22px;
  display: inline-block;
}
.case_7 > div a img {
  width: 35%;
  float: left;
  margin-left: 22px;
  margin-right: 5.5%;
}
.case_7 > div h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 5px;
}
.case_7 > div h4 a {
  display: block;
  color: #4b4a4a;
  text-decoration: none;
  outline: none;
}
.case_7 > div > .case_16 {
  max-height: 72px;
  font-size: 14px;
  line-height: 24px;
  color: #797979;
  margin-bottom: 28px;
  padding-right: 40px;
}
.case_7 > div:hover {
  border: 1px solid #ff9000;
}
.case_7 > div:hover > .case_17 {
  background-color: #ff9000;
}
.case_17 {
  float: right;
  width: 134px;
  height: 40px;
  display: inline-block;
  border: 1px solid #aaa;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  margin-right: 40px;
}
.case_7 > div > .case_17 a {
  text-decoration: none;
  color: #666;
}
